<div class="container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
      <li><a href="#">Blog</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">twitter</a></li>
      <li><a href="#">instagram</a></li>
      <li><a href="#">github</a></li>
      <li><a href="#">dribbble</a></li>
      <li><a href="#">Vimeo</a></li>
    </ul>

    <a href="#" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub">
      </span>
    </a>

    <ul class="site-footer-links">
      <li>© 2015 <span title="#">Le Wagon</span></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>
  </div>
</div>
