<nav class="navbar">

    <%= link_to(root_path) do %>
      <%= image_tag("https://cdn0.iconfinder.com/data/icons/food-icons-rounded/110/Cocktail-512.png", class:"navbar-logo") %>
    <% end %>

    <%= link_to "Create cocktail", new_cocktail_path, class:"navbar-btn" %>

</nav>
