<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <img src="http://placehold.it/50x50" alt="" class="navbar-wagon-logo">
    </a>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for cocktails">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Create cocktail</a>
  </div>
</nav>
